*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    font-family: 'Barlow', sans-serif;
}
/*estilos header*/
.logoh1{
    font-size: 20px;
    color: white;
}
.txtrojo{
    color: rgb(168, 41, 41);
}
.header-rep{
    
    display: flex;
    justify-content:space-around;
    border: solid 1px rgb(51, 50, 50);
    padding:20px;
    background-color:#151623;
}
ul{
    list-style-type:none ;
}
ul li{
    display: inline-block;
    margin: 10px;

}
a{
    text-decoration: none;
    color: white;
}
.iconos{
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.h2-eslogan{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    font-size: 50px;
    color: white;
}
.opciones{
background-color: aqua;
display: flex;
justify-content: space-evenly;
align-items: flex-end;
background-color: #1b1b1b;
color: white;
}
/* *********** */
/* SECCIÓN INICIO */
/* *********** */
.inicio{
    height: 100vh;
    background:linear-gradient(rgba(0, 1, 3, 0.5), rgba(0,0,0,.7)),url(../img/fondo.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
}
.inicio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.inicio .info{
    width:fit-content;
    margin: auto;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.inicio .info h2{
    font-size: 4rem;
    letter-spacing: 3px;
}
.inicio .info p{
    margin: 20px;
    color: #797e8e;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.opciones{
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #353434;
}
.inicio .opciones .opcion{
    border-top: 2px solid #797e8e;
    padding: 7px;
    color: #797e8e;
    margin: 0 20px;
}
/*SECCION NOSOTROS*/
.nosotros{
    max-width: 1100px;
    margin: auto;
    height: 100vh;
    background-color: #dde1e9;
    padding: 100px 20px;
}
.nosotros-body{
    background:linear-gradient( rgba(0, 14, 41, 0.6), rgba(0, 7, 78, 0.7)),url(../img/fondo1.jpg);
}
.nosotros .fila{
    display: flex;
    align-items: center;
}
.nosotros .fila .col{
    width: 50%;
}
.nosotros .fila .col img{
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 50px;
}
.nosotros .fila .col .contenedor-titulo{
    display: flex;
    align-items:center
}
.txtRojo{
    color: #ff1133;
}
.nosotros .fila .col .contenedor-titulo{
    font-weight: bold;
    display: block;
    font-size: 5rem;
}
.nosotros .fila .col .contenedor-titulo .info{
    margin-left: 30px;
}
.nosotros .fila .col .contenedor-titulo .info h2{
    font-size: 3rem;
}
.nosotros .fila .col p{
   margin-bottom: 10px;
   line-height: 28px;
}
.nosotros .fila .col .p-especial{
    font-weight: bold;
}
.nosotros hr{
    margin-bottom: 30px;
}
.nosotros .fila-nosotros{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nosotros .fila-nosotros .frase{
    font-size: 18px;
    font-weight: 600;
}
.nosotros .fila-nosotros h2{
    font-size: 2.5rem;
}
.nosotros .fila-nosotros button{
    background-color: #ff1133;
    border: none;
    color: #fff;
    padding: 15px 35px;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
/* ********** */
/* SERVICIOS */
/* ********** */

.servicios{
    color: #fff;
    position: relative;
}
.servicios .contenido-seccion{
    background:linear-gradient( rgba(0, 14, 41, 0.6), rgba(0, 7, 78, 0.7)),url(img/fondo-servicios.jpg);
    background-size: cover;
    background-position: center center;
    margin: auto;
    padding: 0 20px;
}
.servicios .contenido-seccion .fila{
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 100px 0;
}
.servicios .contenido-seccion .fila .col{
    width: 50%;
}
.servicios .contenido-seccion .fila .col img{
    display: block;
    width: 50%;
    margin: auto;
}
.servicios .fila .col .contenedor-titulo{
    display: flex;
    align-items: center;
}
.servicios .fila .col .contenedor-titulo .numero{
    color: #ff1133;
    font-weight: bold;
    display: block;
    font-size: 5rem;
}
.servicios .fila .col .contenedor-titulo .info{
    margin-left: 30px;
}
.servicios .fila .col .contenedor-titulo .info .frase{
    color: #ff1133;
}
.servicios .fila .col .contenedor-titulo .info h2{
    font-size: 3rem;
}
.servicios .fila .col p{
   margin-bottom: 10px;
   line-height: 28px;
}
.servicios .fila .col .p-especial{
    font-weight: bold;
}
.servicios .info-servicios{
    max-width: 800px;
    margin: auto;
}
.servicios .info-servicios table{
    text-align: center;
    background-color: #fff;
    color: #1f283e;
    border-collapse: collapse;
    position: relative;
    bottom: 100px;
}
.servicios .info-servicios table td{
    padding: 30px;
    border: 1px solid #dde1e9
}
.servicios .info-servicios table td i{
    color: #ff1133;
    font-size: 2.5rem;
    margin-bottom: 20px;

}
.servicios .info-servicios h3{
    margin-bottom: 20px;
    text-transform: uppercase;
}
.servicios .info-servicios p{
    line-height: 30px;
}

/*SECCION EQUIPO*/
.sec-equipo{
    background:linear-gradient( rgba(0, 14, 41, 0.6), rgba(0, 7, 78, 0.7)),url(../img/fondo1.jpg);

}
.equipo-cards{
    display: flex;
    justify-content: space-around;
}
.card{
    background-color: rgba(0,0,0,.3);
}
.card-body{
    color: white;
}
.btn-primary{
    background-color: #ff1133;
    border: #353434;
}
.contenedor-titulo{
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
}
.contenedor-titulo .info{
    margin-left: 30px;
    font-size: 30px;
}
.contenedor-titulo .info .frase{
    color: #ff1133;
}
.h2-equipo{
    color: white;
    
}

/*SECCION CONTACTO*/
.contacto{
    color: #fff;
    background:linear-gradient( rgba(0, 14, 41, 0.6), rgba(0, 7, 78, 0.7)),url(../img/fondo.jpg);
    background-size: cover;
    background-position: center center;
    padding: 100px 20px;

}
.contacto .contenido-seccion{
    max-width: 800px;
    margin: auto;
}

.contacto .contenedor-titulo{
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
}
.contacto .contenedor-titulo .info{
    margin-left: 30px;
}
.contacto .contenedor-titulo .info .frase{
    color: #ff1133;
}
.contacto .contenedor-titulo .info h2{
    font-size: 3rem;
}
.contacto .fila{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.contacto .fila .col{
    width: 48%;
}
.contacto .fila input{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
}
.contacto textarea{
    display: block;
    margin-top: 20px;
    padding: 15px;
    font-size: 20px;
    outline: none;
    width: 100%;
    height: 200px;
}

.contacto button{
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    border: none;
    background-color: #ff1133;
    color: #fff;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}
.contacto .fila-datos{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    font-size: 18px;
    text-align: center;
}
.contacto i{
    color: #ff1133;
    display: inline-block;
    margin-right: 10px;
}
/*FOOTER*/
footer{
    background-color: #151623;
    padding: 30px 0;
}
footer .info{
    display: flex;
    max-width: 1100px;
    margin: auto;
    justify-content: space-between;
    padding: 0 20px;
}
footer .info p{
    color: #797e8e;
}
footer .info a{
    text-decoration: none;
    color: #797e8e;
    display: inline-block;
    margin: 0 15px;
}
/* *********** */
/* RESPONSIVE */
/* *********** */
@media only screen and (max-width: 900px) {
    .inicio .opciones{
        display: none;
    }
    .nosotros .fila{
        display: block;
    }
    .nosotros .fila .col{
        width: 100%;
        margin: auto;
    }
    .nosotros .fila .col img{
        max-width: 200px;
        display: block;
        margin: auto;
    }
    .servicios .contenido-seccion .fila{
        display: block;
    }
    .servicios .contenido-seccion .fila .col{
       width: 100%;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
        margin-bottom: 20px;
    }
    .contacto .fila-datos{
        display: block;
    }
    .contacto .fila-datos .col{
        margin-bottom: 20px;
    }
    footer .info{
        display: block;
        text-align: center;
    }
    footer .info p{
        margin-bottom: 10px;
    }
}